
		<div class="slidewrap">
			<div id="slider">
				<div class="slide slides" style="height: 310px;">
					<img src="/images/sc1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 1;">
					<img src="/images/ow1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/ow2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/ow3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc4.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc5.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc6.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<div class="directionNav">
						<a class="prevNav direction" id="prevbutton" onclick="carouselclick(-1)"></a>
						<a class="nextNav direction" onclick="carouselclick(+1)"></a>
						<div class="jumps">
							<a class="jumpNav" onclick="carouselskip(1)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(2)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(3)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
							<a class="jumpNav" onclick="carouselskip(4)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(5)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(6)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
							<a class="jumpNav" onclick="carouselskip(7)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(8)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(9)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="contentwrap">
			<div class="sectionwrap">
				<div class="textwrap">
					<h1>About Me</h1>
					<p>Well, where to start. I'm a 36 year old single guy living in Springbourne, Bournemouth. I was born in Leeds althrough we moved down south when I was very young so I spent most of life in the Southampton area in a village called Marchwood along the Southampton waterfront.</p>
					<p>I've recently quit smoking via the use of an E-cig recently, althrough I've stopped using that as well by slowly reducing the amount of nicotine in the various oils I was vaping, so I'm now completely smoke free of all types of smoke.</p>
					<p>I'm very intrested in programming and physics, particually astrophysics and keep up to date on the latest developements in all of them. I'm very intrested in space tech developments and can't wait to see the development of flying cars!</p>
					<p>I've been roleplaying since I was a teenager, starting on AD&amp;D, before progressing onto World of Darkness and GURPs, roleplaying in all sorts of senarios including historical, fantasy, realistic, historical and sci-fi.</p>
					<p>As a big fan of sci-fi, I prefer the more realistic ones with greater character development such as Star Trek TNG, DS9, Firefly and Babylon 5 as well. I've been a bit disappointed with modern Sci-fi variants and reboots such as the latest iteration of Star Trek films as well as what we've seen of Discovery so far which has seems to ignore previously established lore in the ST universe.</p>

				</div>
				<div class="imagewrap">
					<img src="/images/me.jpg" />
				</div>

			</div>
		</div>




