
		<div class="slidewrap">
			<div id="slider">
				<div class="slide slides" style="height: 310px;">
					<img src="/images/sc1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 1;">
					<img src="/images/ow1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/ow2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/ow3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc4.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc5.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<img src="/images/sc6.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
					<div class="directionNav">
						<a class="prevNav direction" id="prevbutton" onclick="carouselclick(-1)"></a>
						<a class="nextNav direction" onclick="carouselclick(+1)"></a>
						<div class="jumps">
							<a class="jumpNav" onclick="carouselskip(1)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(2)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(3)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
							<a class="jumpNav" onclick="carouselskip(4)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(5)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(6)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
							<a class="jumpNav" onclick="carouselskip(7)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(8)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
							<a class="jumpNav" onclick="carouselskip(9)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="contentwrap">
			<div class="sectionwrap" id="drizzt">
				<div class="textwrap">
					<h1>Drizzt Do'Urden Books</h1>
					<p>A great line of books written by R. A. Salvatore set in the Forgotten Realms universe. These books are about a Dark Elf who leaves the evil ways of his kin behind.</p>
					<p>They are really inspiration books based on individual struggle and freedom. While they aren't a social commentry they do reflect quite a lot on the problems in modern society such as discrimination and judging people, they are adventure books at heart.</p>
					<p>I'm trying not to say too much that might be spoliers in case anyone who hasn't read the series decides to read it, but it goes through Drizzt's struggles, as part as the Drow society which he strongly disagres with, when hes alone and when he finds a group of friends of all races who actually accept him for who he is instead of looking at him for the colour of his skin and the misdeeds of other members of his race.</p>
					<p>There are currently 33 books in the series and likely more coming.</p>
				</div>
				<div class="imagewrap">
					<img src="/images/Fantasy-Novel-The-Crystal-Shard.jpg" />
				</div>

			</div>
			<div class="sectionwrap" id="belgarion">
				<div class="textwrap">
					<h1>The Belgariad and The Malloreon</h1>
					<p>Two series of books from David Eddings, these are outstanding fantasy books which combine some of the best characters I've ever seen in fantasy books.</p>
					<p>They not only combine some great characters but also engage in politics, combat and writing. What makes these books so special is how real the characters feel, they have very real individual characters that continue to evolve as the characters continue their journey.</p>
					<p>Some of the major themes of these books are responsiblity and growing into your responsibilities and accepting them, which makes them great reading for younger people in particular.</p>
					<p>Both of the two series are five book long and well worth a read.</p>

				</div>
				<div class="imagewrap">
					<img src="/images/2e4f23a4149e23c297087e37a769330e--book-images-anime-style.jpg" />
				</div>
			</div>
			<div class="sectionwrap" id="discworld">
				<div class="textwrap">
					<h1>Discworld</h1>
					<p>I'm sure everyone has at least heard of the Discworld series. Set in a a satrical fantasy universe which is a flat earth carried on the back on four elephants which rides on the back of a giant turtle swimming through space.</p>
					<p>I love these books for Terry Pratchett's writing style. His characters are extremely humourous and full of life and in a world which is just as silly althrough sometimes it seems out to get them.</p>
					<p>There are several main characters in the various books:</p>
					<p>Rincewind - A wizard so inept that it is said when he dies, the average magical ability of the human race, which is basically zero, will increase on his death.</p>
					<p>The Witches - Granny Weatherwax and Nanny Ogg are the two main witches of a small mountain town.</p>
					<p>Death - The grim reaper himself is the main character in quite a few novels, with his horse Binky.</p>
					<p>Sam Vimes and the City Watch - The brave members of the Ankh-Morpork city watch (or not so brave in a few cases) as they seek to maintain some sembelence of order in Ankh-Morpork.</p>
				</div>
				<div class="imagewrap">
					<img src="/images/original.jpg" />
				</div>
			</div>
			<div class="sectionwrap" id="wildcards">
				<div class="textwrap">
					<h1>Wildcards</h1>
					<p>These books are very good series of book written by a whole series of collaborating authours edited by George R. R. Martin and Melinda M. Snodgrass</p>
					<p>Many excellent authors have contributed to these books, I think this the fact that each of the authors have written just a few characters who can concentrate on each charcter gives them a lot of personality.</p>
					<p>Its basically very similar to a Marvel universe and is based on Superheros and Villians, althrough its a much more realistic universe than the marvel universe and has a greater degree of consistancy.</p>
					<p>It actually started as a roleplay game between several writers (Gail Gerstner-Miller, Milan, John J. Miller, Melinda M. Snodgrass and Walter Jon Williams) with Geogre R. R. Martin as the games master.</p>
					<p>As a warning, it is very no-holds barred and features very adult concepts in many places. It does not shy away from any topic at all.</p>
				</div>
				<div class="imagewrap">
					<img src="/images/Wild-Cards-625x350.jpg" />
				</div>
			</div>
			<div class="sectionwrap" id="forgotten">
				<div class="textwrap">
					<h1>Forgotten Realms</h1>
					<p>The Forgotten Realms is a game world origionally created for the AD&amp;D roleplay game, but has since spawned hundreds of novels creating a vibrant world.</p>
					<p>Many of the takes have included iconic heroes in the world such as Eleminster, Drizzt Do'Urden, Danica Maupoissant, Dragonbait, Harkle Harpell, Khelben "Blackstaff" Arunsun and Thibbledorf Pwent.</p>
					<p>Because all the books are set in a common universe they share many features and establish common features and locations as well as sharing common deities.</p>
				</div>
				<div class="imagewrap">
					<img src="/images/821100-www.wallpapersfan.com.jpg" />
				</div>
			</div>
			<div class="sectionwrap" id="dragonlance">
				<div class="textwrap">
					<h1>DragonLance</h1>
					<p>The DragonLance novels are novels by various different authors set in the DragonLance AD&amp;D universe. Like the forgotten realms novels they are all tied together by common locations and deities as well as a shared history that gives a sence of consistancy.</p>
					<p>The most famous novels in this series where written by Margaret Weis althrough many other authors have also written novels also based in the same universe.</p>
					<p>Some truely fascinating character tie them together, the most famous been the heroes of the Lance including: Tanis Half-Elven, Flint Fireforge, Caramon Majere, Raistlin Majere, Goldmoon, Sturm Brightblade and Tasslehoff Burrfoot</p>
					<p>Unique to the Dragonlance universe are the race of Kenders who are incapable of feeling fear, are insatibly curious and have an amazing childlike innocence, despite been consantly thieving (they always forget what they have stolen seconds later), which add a slightly more lighthearted tone to often incrediably serious moments.</p>
				</div>
				<div class="imagewrap">
					<img src="/images/dragonlance_7_by_jprart.jpg" />
				</div>
			</div>
			<div class="sectionwrap">
				<div class="textwrap">
					<h1>Others</h1>
					<p>Some other books/series I have loved over the years</p>
					<ul>
						<li>Dragonriders of Pern</li>
						<li>Lord of the Rings</li>
						<li>1984</li>
						<li>Dennis Wheatley Novels - Various</li>
					</ul>
				</div>
			</div>
		</div>

