	</content>
	<footer>
		<div class="contentwrap">
			<div class="bottomnav">
				<div class="navwrap">
					<div class="navsection">
						<h3>Main Pages</h3>
						<ul>
							<li><a href="/">Home</a>
							<li><a href="/show/aboutme">About Me</a></li>
							<li><a href="/show/roleplay">Roleplay</a></li>
							<li><a href="/show/contact">Contact Me</a></li>
						</ul>
					</div>
				</div>
				<div class="navwrap">
					<div class="navsection">
						<h3>Computer Games</h3>
						<ul>
							<li><a href="/show/games#starcitizen">Star Citizen</a></li>
							<li><a href="/show/guncomparison/">Star Citizen Weapon Comparison Tool</a></li>
							<li><a href="/show/games#overwatchn">Overwatch</a></li>
							<li><a href="/show/games#xcom">X-Com Series</a></li>
							<li><a href="/show/games#civ">Civilisation Series</a></li>
							<li><a href="/show/games#wc">Wing Commander Series</a></li>
							<li><a href="/show/games#moo">Master of Orion Series</a></li>
						</ul>
					</div>
				</div>
				<div class="navwrap">
					<div class="navsection">
						<h3>Books</h3>
						<ul>
							<li><a href="/show/books#drizzt">Drizzt Do'Urden</a></li>
							<li><a href="/show/books#belgarion">The Belgarion</a></li>
							<li><a href="/show/books#discworld">Discworld</a></li>
							<li><a href="/show/books#wildcards">WildCards</a></li>
							<li><a href="/show/books#forgotten">Forgotten Realms</a></li>
							<li><a href="/show/books#dragonlance">Dragon Lance</a></li>
						</ul>
					</div>
				</div>
				<div class="navwrap">
					<div class="navsection">
						<h3>TV/Films</h3>
						<ul>
							<li><a href="/show/tv#startrek">Star Trek</a></li>
							<li><a href="/show/tv#babylon5">Babylon 5</a></li>
							<li><a href="/show/tv/firefly">Firefly</a></li>
							<li><a href="/show/tv#saab">Space Above and Beyond</a></li>
							<li><a href="/show/tv#sao">Sword Art Online</a></li>
							<li><a href="/show/tv#naruto">Naruto</a></li>
							<li><a href="/show/tv#marvel">Marvel Universe</a></li>
							<li><a href="/show/tv#scrubs">Scrubs</a></li>
							<li><a href="/show/tv#matrix">The Matrix</a></li>
						</ul>
					</div>
				</div>



			</div>


		</div>
					<div class="legal">
						<p>All contents of this website including custom html/css/javascript are copyright of Steven Lockey &copy;2017. Images used are copyright of their respective owners.</p>
						<p>Feel free to use any parts that are mine in your own creation althrough credit would be appreicated.</p>
			</div>
	</footer>

</body>


