

			<div class="slidewrap">
				<div id="slider">
					<div class="slide slides" style="height: 310px;">
						<img src="/images/sc1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 1;">
						<img src="/images/ow1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/ow2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/ow3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc4.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc5.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc6.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<div class="directionNav">
							<a class="prevNav direction" id="prevbutton" onclick="carouselclick(-1)"></a>
							<a class="nextNav direction" onclick="carouselclick(+1)"></a>
							<div class="jumps">
								<a class="jumpNav" onclick="carouselskip(1)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(2)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(3)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
								<a class="jumpNav" onclick="carouselskip(4)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(5)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(6)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
								<a class="jumpNav" onclick="carouselskip(7)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(8)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(9)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
							</div>
						</div>
					</div>
				</div>


			<div class="contentwrap">
				<div class="sectionwrap" id="sc">
					<div class="textwrap">
						<h1>StarCitizen</h1>
						<p>In case you aren't aware, StarCitizen is the biggest crowd-funded project ever, currently having raised over 150 million dollars in funding.</p>
						<p>Its a game which is headed by Chris Roberts who created the Wing Commander, Privateer and Freelancer games and is basically a much bigger and more complex version of those games, not only including ship-to-ship combat but also including ground and vehicle based combat, including bording enemy ships mid combat.</p>
						<p>While I particually intrested in the ship to ship combat side and the dynamics of that, the game is going to far more than just a shooting people in space. Its a complex economic simulation involving trading, mining, exploration as well as racing.</p>
						<p>Its going to take years for this project to finish building because of the sheer ambition of it, but I've no doubt that it will be a great game when it is finished. The current alpha version is already playable for backers (they also have free periods where anyone can give it a try) and already has more detail in it than many completed games.</p>
						<p>There is so much to say about this game that its hard to do it justice in any short statement like I'm going to put here.</p>
						<p>Check out StarCizien at <a href="https://robertsspaceindustries.com/">their website</a>.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/photo.jpg" />
					</div>
				</div>
				<div class="sectionwrap" id="wc">
					<div class="textwrap">
						<h1>Wing Commander Series</h1>
						<p>The wing commander series started in 1990 and quickly became one of the most well known space-combat games of it's time.</p>
						<p>The game featured your fighting an implacable alien warrior race called the Kilrathi (basically tiger-men) who were hell bent on conquest and had enslaved many races who lived under their control as slaves.</p>
						<p>It was incredibly successful and quite a few spin-off games. Wing Commander 3 was one of the first games to use actual video interactive cut scenes including actors like Mark Hamil, Malcom McDowell and John Rhys-Davies who added great depth to the gameplay. The same actors also stared in Wing Command 4 'The price of Freedom' sequel.</p>
						<p>Privateer was a critically aclaimed spin-off series, unlike the origional series, in these games you weren't part of a military organisation, instead you are an independent pilot flying your own ship, which allowed you much more freedom to chose what you would like to do, either trading or combat missions or following the main story-line of the game.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/wing_commander_privateer.jpg" />
					</div>
				</div>
				<div class="sectionwrap" id="xcom">
					<div class="textwrap">
						<h1>Xcom Games</h1>
						<p>These are a series of games that I loved when I was much younger. Starting with Xcom Enemy Unknown, followed by Terror from the Deep, you basically had to repell an alien invasion of earth.</p>
						<p>They were extremely difficult games that mostly consisted of a real time world view where you would go to a turn based battle scenes when you shot down an enemy craft or where repelling a terror attack.</p>
						<p>The origional games were quite complex with the soldiers having individual stats unique to them and no special abilities.</p>
						<p>The game has been rebooted recently with X-Com 1 and X-Com 2 however these are very different games. While they share the same basic premise as the origional series, the game instead is based around the soldiers having the same stats for each class (there were no classes in the pre-reboot versions), but also each class gains special abilities as they get promoted.</p>
						<p>While the newer games are a lot of fun, I feel like they lost a lot of the realism that made the origional games what they were.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/xcom-1994.jpg" />
					</div>
				</div>
				<div class="sectionwrap" id="civ">
					<div class="textwrap">
						<h1>Civilisation</h1>
						<p>A series of games from Sid Meier, these games basically involve you starting in the ancient past, in the stone-age and building your race up from to the modern times, fight and trading with other races for control of the planet.</p>
						<p>The series started back in 1991 and is still going strong today, currently on the 6th iteration. There are often many ways to 'win' these games, through military conquest, cultural dominion or having the 'UN' or council of nations vote you are leader of the planet or in some cases colonising Alpha Centuri</p>
						<p>They are extremely deep games, althrough they are far better played with real players than with AI, this is often difficult due to the sheer amount of time a game can take to play.</p>
						<p>The more modern versions have attempted to address this by making the games far quicker althrough this presents it's own problems, like the fact it can take hundreds of years for one of your units to walk across a small island, or the fact your units are often obsolete by the time they reach somewhere useful.</p>
						<p>One of the big issues with the latest versions is that they always seems to start off quite 'meh' and only really come into their own when the major expansions are released. Particually the AI cheats horribly to make up for the fact it is so bad having greatly reduced production times and starting with free units which can really make the game feel off, particualy in the early stages.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/civ5_turn309.jpg" />
					</div>
				</div>
				<div class="sectionwrap" id="moo">
					<div class="textwrap">
						<h1>Master of Orion Series</h1>
						<p>Another golden oldy series, the first game in this series started in 1993. Althrough the first game wasn't the best game in the world, it was the sequel, Master of Orion 2 (1996) which really inspired most gamers.</p>
						<p>This is a 4X game that was based on a universe where you could create a custom race with various attributes, anything from simple production/research bonuses to Hive-minds, creatures that eat minerals instead of organic food or even entirely crystal based entities, all with unique advantages and disadvantages.</p>
						<p>It is very much like Civilisation in play-style with several options to win including diplomacy or combat althrough lacking any cultural victory options.</p>
						<p>The third game in the series was not as well considered as it was generally quite confusing with little explaination for various parts that just didn't seem to make sense.</p>
						<p>It has recently been remade into a more modern version, which is basically a remake of the Master of Orion 2, who drawing on various bits from the other games like the use of warp lanes to travel between stars instead of allowing ships to travel to any star in range. Its not a terrible game but does suffer from a very weak AI which is very easy to beat unless you set the difficulty high enough that it cheats horribly.</p>
						<p>Despite it's age Master of Orion 2 is still the standard which modern space-based 4x games are compared to, which says a lot about the level of respect it has.
					</div>
					<div class="imagewrap">
						<img src="/images/hqdefault.jpg" />
					</div>
				</div>
				<div class="sectionwrap" id="ow">
					<div class="textwrap">
						<h1>Overwatch</h1>
						<p>This is a futuristic and somewhat cartoony first person shooter game created by Blizzard.</p>
						<p>While its a very good game, it does have it's flaws. Its quite twitch based in parts and is very team based requiring everyone to play as a team for any real chance of success which does hurt the "Quick play" side of the game.</p>
						<p>There is also a strong rock-paper-sissors dynamic between the various heros in the game which means that you can't always just pick your faviourite hero. The game is very dependent on been willing to switch what hero you are playing on the fly. A prime example of this is Tracer, while she is a strong character in general with her teleportation abilities and is very good at taking out the enemy heros, she is also very weak vs some characters like Torborn, Winston and Symmertia who are less aim depedent, so can effectively render her useless.</p>
						<p>Quite a few of the other characters can also become useless to pick depending on both who you have on your team and who is on the enemy team. Reaper, Genji and Orisa are all very good examples of this. Reaper and Genji are both far more effective if the rest of the team can distract your enemy and get round their flanks or behind them, Reaper in particular. Orisa been the opposite, its an excellent tank character if your team can stay with you and prevent you from been flanked with great firepower, however her large size and relatively low HP compared to the other tanks leave her very vulverable to flanking attacks. With good flanking support however Orisa's powerful cannon is great for supression and her gravitation beam is a very useful support weapon capable of pulling enemies out into the open from cover or off ledges/cliffs</p>
						<p>Other characters are more or less powerful dependent on the map in question, Pharah for example is great when you have high level cover to use while flying overhead and is capable of boosting enemies out of cover.</p>
						<p>The other thing that really sets this game about is the interplay and the lore behind the characters. Blizzard did a great job with most of the characters have chat lines with the other characters and all of them having good backgrounds rather than just been the normal 2d figures you see in most games.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/Overwatch_cover_art_(PC).jpg" />
					</div>
				</div>
				<div class="sectionwrap" id="others">
					<div class="textwrap">
						<h1>Others</h1>
						<ul>
							<li>Premier Manager</li>
							<li>Diablo</li>
							<li>Counter Strike</li>
							<li>Sim City</li>
							<li>FTL</li>
							<li>Total War</li>
							<li>Dawn of War</li>
						</ul>
					</div>
					<div class="imagewrap">
						
					</div>
				</div>

			</div>
		</div>
	

