		<div class="contentwrap" >
			<div class="sectionwrap" id="comparebox">
				<h1>Gun Comparison Page</h1>
				<div id="filters">
					<h3>Sort and Filter</h3>
					<div id="leftlistwrap">
						<div id="leftfilters">
							<div class="dontsplitme">
								<label for="sortby">Sort By:</label>
								<select class="sortby">
									<option value="name" selected="selected">Name</option>
									<option value="size">Size</option>
									<option value="dps">Damage Per Second</option>
									<option value="pps">Power per second</option>
									<option value="hps">Heat per seconds</option>
								</select>	
							</div>
							<div class="dontsplitme">
								<label for="maxsize">Max Size</label>
								<select class="maxsize" name="maxsize">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9" selected="selected">9</option>
								</select>
							</div>
							<div class="dontsplitme">
								<label for="minsize">Min Size</label>
								<select class="minsize" name="minsize">
									<option value="1" selected="selected">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
								</select>
							</div>
							<div class="dontsplitme">
								<label for="selecttype">Weapon Type</label>
								<select class="selecttype" name="selecttype">
									<option value="1">Energy</option>
									<option value="2">Ballistic</option>
									<option value="3">Distortion</option>
									<option value="1||2||3" selected="selected">Any</option>
								</select>
							</div>

						</div>
					</div>
					<div id="rightlistwrap">
						<div id="rightfilters">
							<div class="dontsplitme">
								<label for="sortby">Sort By:</label>
								<select class="sortby">
									<option value="name" selected="selected">Name</option>
									<option value="size">Size</option>
									<option value="voyprice">Voyager Price</option>
									<option value="dps">Damage Per Second</option>
									<option value="guiderating">Guide Rating</option>
									<option value="powersec">Power per second</option>
									<option value="hps">Heat per seconds</option>
								</select>	
							</div>
							<div class="dontsplitme">
								<label for="maxsize">Max Size</label>
								<select class="maxsize" name="maxsize">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9" selected="selected">9</option>
								</select>
							</div>
							<div class="dontsplitme">
								<label for="minsize">Min Size</label>
								<select class="minsize" name="minsize">
									<option value="1" selected="selected">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
								</select>
							</div>
							<div class="dontsplitme">
								<label for="selecttype">Weapon Type</label>
								<select class="selecttype" name="selecttype">
									<option value="1">Energy</option>
									<option value="2">Ballistic</option>
									<option value="3">Distortion</option>
									<option value="1||2||3" selected="selected">Any</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div id="leftlistwrap">
					<div id="leftlist">
					</div>
				</div>
				<div id="rightlistwrap">
					<div id="rightlist">
					</div>
				</div>
				<div class="comparebutton">
					<h3>Click to compare your selections</h3>			
				</div>
			
				<script type="text/javascript">loadDoc1();loadDoc2();</script>
			</div>
		</div>