

			<div class="slidewrap">
				<div id="slider">
					<div class="slide slides" style="height: 310px;">
						<img src="/images/sc1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 1;">
						<img src="/images/ow1.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/ow2.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/ow3.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc4.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc5.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<img src="/images/sc6.jpg" alt="" width="1280" height="500" class="mySlides" style="opacity: 0;">
						<div class="directionNav">
							<a class="prevNav direction" id="prevbutton" onclick="carouselclick(-1)"></a>
							<a class="nextNav direction" onclick="carouselclick(+1)"></a>
							<div class="jumps">
								<a class="jumpNav" onclick="carouselskip(1)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(2)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(3)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
								<a class="jumpNav" onclick="carouselskip(4)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(5)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(6)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
								<a class="jumpNav" onclick="carouselskip(7)" id="jump1" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(8)" id="jump2" style="background-color: rgb(255, 255, 255);"></a>
								<a class="jumpNav" onclick="carouselskip(9)" id="jump3" style="background-color: rgb(255, 255, 255)"></a>
							</div>
						</div>
					</div>
				</div>


			<div class="contentwrap">
				<div class="sectionwrap" id="st">
					<div class="textwrap">
						<h1>Roleplaying</h1>
						<p>Roleplay is basically exactly what the word says, you play a role.</p>
						<p>This comes in many forms, but is mainly done either on tabletop (AD&amp;D for example) or Live.</p>
					</div>
				</div>
				<div class="sectionwrap">
					<div class="textwrap">
						<h1>Tabletop</h1>
						<p>In tabletop roleplay, you have 1 Gamesmaster(GM) and a group of players (3-6 normally) who each make characters or use characters defined by the GM.</p>
						<p>In this format, the GM is basically God of the universe in question and controls everything and everyone who is not one of the players, althrough it does to some degree also cover the players such as involuntary actions or anything else out of a character's direct control, fear been a good example of this</p>
						<p>Generally the players will build their own characters but sometimes the GM will provide them based on that particular game's rules which can vary from cavemen, WW1/WW2, Fantasy/Superhero or Sci-Fi or well, anything else you can think of. Almost every senario has been covered in various books and if it doesn't exist, there is nothing stopping you creating rules for it! There is even a book covering how to play a game as rabbits! (Bunnies and Burrows.... Its true, honest!)</p>
						<p>The "stats" of each character let the players know what their characters are capable of and how much they can do, but in all honesty the player's imagination is a much greater factor in been successful, althrough there is no real 'winning' in Roleplay, certainly not over the other players (in general), its more about co-operation and acting like your character would, althrough some characters do come into conflict, this is just part of the game rather than the goal of it.</p>
						<p>Its very much about the personality of each characters and staying "in role", hence the name, the point is to make your character act like they should in any given situation which can lead to very intresting (and amusing) adventures.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/Role-Playing-Session.jpg" />
					</div>
				</div>
				<div class="sectionwrap">
					<div class="textwrap">
						<h1>Live Roleplay</h1>
						<p>Live roleplay is a little more 'fixed' than tabletop as you are constrained by reality to some degree.</p>
						<p>The basic concept is the same as tabletop roleplay, the main difference is that the players all get in costume and actually act out what they are doing instead of just describing it to the GM and rolling dice.</p>
						<p>Clearly this does mean you can't easily play a superhero who can leap 60' into the air or similar and hitting other players with real swords/axes is also generally frowned upon!, so there are rules to cover this and allow these sorts of actions which can vary to replacing these contests with Rock/Paper/Sissors or fighting with Latex weapons so as not to injury anyone.</p>
						<p>The Gathering is the major live roleplay event and happens in the UK once a year where thousands of people gather together at a single event althrough there are many smaller events held every year.</p>
					</div>
					<div class="imagewrap">
						<img src="/images/battle1_Renewal_06.jpg" />
					</div>
				</div>

			</div>
		</div>



